/* .container { */
    /* width: 100vw; */
    /* min-height: 100vh; */
    /* background: #ffffff; */
/* } */

header {
    width: 100%;
}

main {
    background-color: antiquewhite;
    /* height: 100vh; */
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}