/* App.css */
.app-container {
  position: relative;
}

.leftAlign {
  list-style-type: none;
  padding: 0;
}

.leftAlign li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; /* 必要に応じてマージンを調整 */
  position: relative; /* 追加 */
}

.left-align {
  text-align: left;
}

.left-top-align {
  position: absolute;
  top: 0;
}
.bg_pattern {
  background-color: #ffe9a7;
  height: 100vh;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
.Diagonal {
  background: repeating-linear-gradient(
    45deg,
    #ffc107,
    #ffc107 10px,
    #ffe9a7 10px,
    #ffe9a7 50px
  );
}
