/*roboto from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "roboto", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;

  /* ヘッダーの高さ */
  --padding-top-menu: 70px;
  /* 地図画面の高さ */
  --map-min-height: 400px;
  /* パラメーターの高さ */
  --value-min-height: 400px;
  /* フッターの高さ */
  --value-bottom-margin: 100px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  background-color: white;
  padding-top: var(--padding-top-menu);
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* アイコンをホバーしたときのアニメーション設定 */
footer .hover-icon {
  transition: all 0.3s 0s ease;;
}
