.music-menu {
    position: relative;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: rgb(66, 66, 66);
    border-bottom: solid 1px rgb(88, 88, 88);
    display: flex;
    align-items: center;
    color: white;
}

.music-description {
    position: absolute;
    /* height: 50px; */
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(42, 162, 167); */
}

.music-menu-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20%;
    margin-left: 40%;
    /* gap: 10px; */
    
    filter: brightness(0) invert(1);
    /* height: 50px; */
    /* background-color: darkturquoise; */
}

.music-volume-control {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;
    margin-left: 60%;
    /* background-color: darkorchid; */
}

.play-track-button {
    width: 60px;
}

.volume-icon {
    width: 30px;
    filter: brightness(0) invert(1);
}