.app-container {
    margin-bottom: calc(var(--value-bottom-margin) + 30px);
    margin-left: 50px;
    margin-top: 20px;
    min-height: var(--music-register-page-min-height);
  }
  
  .register-nothing {
    list-style: none;
    margin-top: 20px;
  }
  
  .register-list {
    align-items: center;
    position: relative;
  }
  
  .register-element {
    border-bottom: 1px solid rgb(119, 119, 119);
    display: flex;
    list-style: none;
    margin-bottom: 10px;
    padding: 30px;
    position: relative;
    width: 400px;
  }
  
  .register-element:hover {
    transform: scale(1.01);
  }
  
  .register-element .music-title {
    font-size: 20px;
  }
  
  /* 再生ボタン */
  .register-element .register-music-button {
    margin-left: 320px;
    margin-top: 0px;
    position: absolute;
    transition: scale 0.3s;
    width: 30px;
    cursor: pointer;
  }
  
  .register-element .register-music-button:hover {
    transform: scale(1.1);
  }
  
  /* 検索結果の曲の下線 */
  .border-animation {
    background-image: linear-gradient(90deg, #ad0000, #ff0000);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0 1px;
    text-decoration: none;
    transition: background-size 0.3s;
  }
  
  .border-animation:hover {
    background-size: 100% 1px;
  }
  