.value {
    position: relative;
    margin-top: var(--map-min-height);
    min-height: var(--value-min-height);
    margin-bottom: var(--value-bottom-margin);
    width: 100%;
    background-color:chocolate;
}